
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/admindash.css">
    <title>Admin</title>
</head>
<body>
    <nav class="navbar">
        <div class="title">
            <h1>Blogs</h1>
        </div>
        <div class="add">
            <h1><a href="panel/add"></a></h1>
        </div>
    </nav>
</body>
</html>
