<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/blog.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <h1>Blog</h1>
    </nav>
    <section class="blog">
        <%  if(user  != 'undefine') {%>
            <h1><img src="../server/uploadImages/uploadedImages/<%=user[0].image%>" alt=""></h1>
            <p><%=user[0].blog%></p>
        <% } %> 
    </section>
</body>
</html>