

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.navbar{
    width: 100%;
    height: 4rem;
    padding-left: 15px;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background: grey;
    color: white;
    font: 26px;
}

.blog{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    flex-direction: column;
    
}

.blog p {
    word-break: break-all;
}

